<div class="search">
    <div class="pull-right">
        <div class="dropdown icons-search">
            <a href="#" id="imageDropdown" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span><span class="down glyphicon glyphicon-triangle-bottom"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Menu item 1</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Menu item 2</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Menu item 3</a>
                </li>
            </ul>
        </div>
        <div class="icons-search b-l-b">
            <span class="glyphicon glyphicon-bell"></span>
        </div>
    </div>
</div>