<div id="wrapper" [ngClass]="{'active': toggle}">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand txt-center"><a id="menu-toggle" (click)="clickEvent($event)">Go Talent<span class="glyphicon glyphicon-menu-hamburger pull-right"></span></a></li>
        </ul>
        <ul class="sidebar-nav-date">
            <li>
                <div class="rounded-circle"><img src="assets/logo.PNG" class="rounded-circle" alt=""></div>
            </li>
            <li>Alejandra de los Santos</li>
            <li>Developer Expert</li>
        </ul>
        <ul class="sidebar-nav sidebar-list">
            <li><a>Pefil</a></li>
            <li><a>Ofertas de empleo</a></li>
            <li><a>Buscador Avanzado</a></li>
            <li><a>Biblioteca de CV's</a></li>
            <li><a>Favoritos</a></li>
        </ul>
    </div>
</div>